@use "/app/theme/styles/colors" as *;
@use "sass:color" as color;

.tool-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;

  border-radius: 10px;
  background-color: color.adjust($primary-light-bg, $lightness: -3%);
}
