@use "/app/theme/styles/colors" as *;
@use "/app/theme/styles/typography" as *;

.navbar-link {
  font-size: $font-size-base;
  text-decoration: none;
  color: $dark-text;

  &.active {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
