$primary-color: #0a74da;

$light-text: #ffffff;
$dark-text: #444;

$dark-text-active: #6366f1;

$primary-light-bg: #e6f4ff;
$secondary-light-bg: #f0f2f5;

$border-color: #ddd;

/* states */
$danger-color: #ff4d4f;
$success-color: #52c41a;
$warning-color: #faad14;
$info-color: #1890ff;
