@use "/app/theme/styles/colors" as *;
@use "/app/theme/styles/typography" as *;

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  gap: 1.5rem;

  h2 {
    font-size: $font-size-3xl;
    font-weight: bold;
    margin-bottom: 1rem;
    color: $dark-text;
  }

  hr {
    flex: 1;
    border-top: 2px solid $dark-text;
    margin-bottom: 1rem;
  }
}
